@charset "utf-8";
body{
    overflow-x: hidden;
}
/*end coding for header*/
#logo{
    width:40px;
    height:40px;
    border-radius: 50%;
    background-size: cover;
    background-color:white;
}

#nav-bar{
    box-shadow: 5px 10px 8px #888888;
}

/*search & close*/
#close{
    margin-top:10px !important;
    cursor:pointer;
}
#search{
    cursor:pointer;
}

/*search & close*/

/*font family*/
.header-font{
    font-family: 'Fredoka One', cursive;
}
.inner-font{
    font-family: 'Stoke', serif;
    color:black;
}
.anchor{
    text-decoration: none !important;
}
.text-space{
    letter-spacing: 1px;
}
.letter-space{
	letter-spacing: 1px;
	font-family: 'Lobster', cursive;
}
/*font family*/
#team{
    border:1px solid #ccc;
    box-shadow: 2px 2px 0px 0px white;
}
/*team memeber pics*/
.team-member-pics{
    width:150px;
    height:150px;
    border:1px solid #ccc;
    border-radius: 50%;
    box-shadow: 2px 2px 2px 2px #888888;
    margin-top:-70px;
    z-index: 100;
}
.team-member-pics img{
    width:150px;
    height:150px;
    background-size: cover;
    border-radius: 50%;
}
/*team member pics*/
/*code for card*/

.card:hover{
    margin-top:3px;
    transition: 0.1s;
    box-shadow: 2px 2px 2px 2px #888888;
}
/*code for card*/
/*indicators*/
.indicators{
    width:30px !important;
    height:30px !important;
    border-radius: 50%;
}
/*indicators*/
/*team social sites*/
.client-icon{
    width:40px;
    height:40px;
    border:1px solid #ccc;
    padding-top:5px;
    margin-top:10px;
    font-size:30px !important;
    color:black;
}
#facebook:hover{
    background-color: #4F67A4;
    color:white;
    border:1px solid #4F67A4;
}
#insta:hover{
    background-color: white;
    color:rgb(224, 21, 21);
    border:1px solid #ccc;
}
#github:hover{
    background-color: black;
    color: white;
    border:1px solid black;
}
#twitter:hover{
    background-color: #1DA1F2;
    color: white;
    border:1px solid #1DA1F2;
}
#phone:hover{
    background-color: rgb(250, 253, 255);
    color: rgb(46, 204, 32);
    border:1px solid #ccc;
}
/*team social site*/
/*my icon*/
.my-icon{
    width:40px;
    height:40px;
    border:1px solid #ccc;
    padding-top:5px;
    padding-left:6px;
    margin-top:10px;
    font-size:30px !important;
    color:white;
}
/*my icon*/